{% extends 'system/base.html' %}

{% block content %}
<form action="{% url 'system:signin' %}" method="post">
  {% csrf_token %}
  {{form.as_p}}

  <div class="form-row">
   <div class="form-group col-md-6">
     <label for="">Username</label>
     <input type="text" class="form-control" name="username">
   </div>
   <br>
   <div class="form-group col-md-6">
     <label for="inputPassword4">Password</label>
     <input type="password" class="form-control" name="password">
   </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Login">
</form>

{% endblock %}
