%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Account</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form action="open_box" method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Access Box</h2>
                        <p style="color:red;">
                            {%for message in messages%}
                            {{message}}
                            {% endfor %}
                        </p>

                        <div class="form-group">
                            <input type="password" class="form-input" name="pin" id="pin" placeholder="Access Pin"/>
                            <input type="hidden" class="form-input" name="email" id="email" value={{email}}>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Access Box"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Check your email for access pin.
                    </p>
                </div>
            </div>
        </section>
        
        <div>
            
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
