{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staff personal account</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form action="addPackage" method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Who is the reciepient of the package?</h2>
                        <p style="color:red;">
                            {%for message in messages%}
                            {{message}}
                            {% endfor %}
                        </p>
                        <div class="form-group">
                            <input type="client_email" class="form-input" name="client_email" id="client_email" placeholder="Client Email"/>
                            <input type="hidden" class="form-input" name="email" id="email" value={{email}}>
                            <input type="hidden" class="form-input" name="presence" id="presence" value={{presence}}>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Verify Email"/>
                        </div>
                    
                    </form>
                      
                    <form action="staffBoxAccess" method="POST">
                        {% csrf_token %}
                    <p class="loginhere">
                        
                        <input type="hidden" class="form-input" name="email" id="email" value={{email}}>
                        <input type="hidden" class="form-input" name="presence" id="presence" value={{presence}}>
                        You wanna access your box? <button>Access Box</button>
                    </p>
                    </form>

                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>