{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify Email</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form action="verify_email" method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Verify Email</h2>
                        <p>Code has been sent to {{email}}</p> <br/>
                        <p style="color:red;">
                            {%for message in messages%}
                            {{message}}
                            {% endfor %}
                        </p>
                        <div class="form-group">
                            <input type="password" class="form-input" name="veri_code" id="veri_code" placeholder="Your Verification Code"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        
                        <input type="hidden" class="form-input" name="email" id="email" value={{email}}>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Verify Email"/>
                        </div>
                    </form>
                    <form action="email_reprompt" method="POST">
                        {% csrf_token %}
                    <p class="loginhere">
                        <input type="hidden" class="form-input" name="email_val" id="email_val" value={{email}}>
                        Didn't recieve email? <button>Resend Email</button>
                    </p>
                    </form>
                </div>
            </div>
        </section>
        
        <div>
            
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>